@font-face {
  font-family: "Shabnam-FD";
  src: local("Shabnam-FD"), local("Shabnam"),
    url(/p30saz/fonts/Shabnam-FD.woff2) format("woff2");
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Shabnam-FD";
  background-color: #fafafa;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #212c31;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #ff5252;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  background-color: #fdfdfd;
}

.search-bar {
  border: 1px solid #bdbcbc;
  border-radius: 5px;
  padding: 5px 20px;
  margin-right: 20px;
  width: 300px;
  background-color: #f0f0f1;
  display: flex;
  align-items: center;
}

.search-bar input {
  border: none;
  background-color: transparent;
  outline: none;
  width: 100%;
  margin-right: 10px;
}

.search-input::placeholder {
  font-family: "Shabnam-FD";
}

.search-icon {
  color: #757575;
}

.logo {
  background-color: rgb(255, 247, 247);
  width: 80px;
  height: 55px;
}

.logo-image {
  width: 90px;
  height: 65px;
  background-color: #ffffff;
}

.button {
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  margin-left: 20px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: -7.5px 9px 18px -5.5px #dddddd;
  -moz-box-shadow: -7.5px 9px 18px -5.5px #dddddd;
  box-shadow: -7.5px 9px 18px -5.5px #dddddd;
}

.button:hover {
  background-color: #ef5350;
  color: white;
}

.button-name {
  font-family: "Shabnam-FD";
  margin-right: 7px;
}

:root {
  --color-primary: #000000;
}

nav {
  position: relative;
  background: #fdfdfd;
  font-weight: bold;
  font-size: 0;
  display: flex;
  padding: 0;
  width: 100%;
  -webkit-box-shadow: 0 5px 3.5px -0.5px #dddddd;
  -moz-box-shadow: 0 5px 3.5px -0.5px #dddddd;
  box-shadow: 0 5px 3.5px -0.5px #dddddd;
}

nav .item {
  font-size: 0.8rem;
  display: inline-block;
  position: relative;
  padding: 0 20px;
  cursor: pointer;
  z-index: 5;
  min-width: 25%;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.dropdown {
  overflow: hidden;
  list-style: none;
  position: absolute;
  padding: 0;
  width: 100%;
  left: 0;
  top: 62px;
}
.dropdown > div {
  transform: translate(0, -100%);
  transition: all 0.5s 0.1s;
  position: relative;
}

.dropdown a {
  display: block;
  padding: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #eceff1;
}

.dropdown a:hover {
  color: #f44336;
  background: #000000;
}

.underline {
  height: 6px;
  background: #f44336;
  position: absolute;
  bottom: 0;
  width: 25%;
  z-index: 2;
  pointer-events: none;
  transition: 0.35s;
}

nav .item:hover > .dropdown > div {
  transform: translate(0);
}

nav .item:nth-child(1):hover ~ .underline {
  transform: translate(0, 0);
}

nav .item:nth-child(2):hover ~ .underline {
  transform: translate(100%, 0);
}

nav .item:nth-child(3):hover ~ .underline {
  transform: translate(200%, 0);
}

nav .item:nth-child(4):hover ~ .underline {
  transform: translate(300%, 0);
}

.container {
  max-width: 1216px;
  margin-top: 56px;
  margin-right: auto;
  margin-left: auto;
}

.section-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.section-title {
  display: flex;
  align-items: center;
  gap: 6px;
}

.section-title-icon {
  width: 22px;
  height: 22px;
  color: #b71c1c;
}

.section-link {
  color: #b71c1c;
  text-decoration: none;
}

.section-link:hover {
  color: black;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.product {
  width: 23%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  padding: 24px;
}

.product-image {
  width: 100%;
}

.product-name {
  font-size: 14px;
  font-weight: normal;
  margin-top: 14px;
  line-height: 1.6;
  height: 68px;
}

.product-link {
  text-decoration: none;
  color: #263238;
  font-weight: bold;
}

.product-link:hover {
  color: #c62828;
}

.product-offer {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  margin-top: 12px;
}

.product-offer-percent {
  background-color: #ef5350;
  color: white;
  font-weight: bold;
  padding: 2px 4px;
  display: inline-block;
  border-radius: 4px;
}

.product-offer-price {
  text-decoration: line-through;
  color: #546e7a;
}

.product-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
}

.product-price {
  display: flex;
  align-items: center;
  gap: 4px;
}

.product-price-number {
  font-weight: bold;
  font-size: 18px;
}

.product-price-unit {
  font-size: 14px;
}

.product-rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.product-rating-number {
  font-size: 14px;
  color: #546e7a;
}

.product-rating-icon {
  width: 18px;
  height: 18px;
  color: #f1c21b;
}

.product-buy {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  transition: color 0.25s ease, background-color 0.25s ease,
    border-color 0.25s ease, box-shadow 0.25s ease, opacity 0.25s ease;
}

.product-buy-link {
  text-decoration: none;
  color: white;
  background-color: #f44336;
  padding: 10px 30px;
  border-radius: 8px;
}

.product-buy-link:hover {
  background-color: #263238;
  color: #ff5252;
}

.section-head-2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.section-title-2 {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 50px;
}

.section-title-icon-2 {
  width: 22px;
  height: 22px;
  color: #b71c1c;
}

.footer-container {
  max-width: 1170px;
  margin: auto;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
  padding-right: 10px;
}

.footer {
  background-color: #24262b;
  padding: 70px 0;
  margin-top: 10%;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 120px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.social-links {
  display: flex;
  align-items: center;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
